<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-3 mt-3 card card-shadow">
           <div class="box">
               <h3>Service Worker is great</h3>
               <button id="btn">post data</button>
               <p>In nisi officia ex ipsum consequat Lorem est.</p>
               <p>Officia culpa irure eu velit nisi do proident proident.</p>
           </div>
        </div>
    </div>
</div>